<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        <li class="item">
            <a class="link" href="{{ site.url }}/">Home</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/profile">Profile</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/experience-domains">Experience &amp; Domains</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/selected-posts">Selected Posts</a>
        </li>
    </ul>
</nav>
